body {
  background-color: #ffffff !important;
  color: #000 !important; /* Changed to black for visibility against white background */
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}